body {
    background-color: #E7C496;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #242222;
    border-radius: 4px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

footer p {
    margin: 0;
}

header {
    background-image: url();
}