body {
    background-color: #E7C496;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #242222;
    border-radius: 4px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 21x;
    margin-top: 35px;
}

footer p {
    margin: 0;
}

.header {
    position: relative;
    background-image: url(./img/falafel-header.webp);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 35px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.center-image {
    filter: none;
    width: 275px;
    margin-right: -14px;
}

.about-text {
    font-size: 150px;
    color: #CDB31C;
    margin-left: -15px;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: #C98A36;
    border-radius: 30px;
    padding: 70px;
    max-width: 830px;
    margin: 0 auto;
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT';
    text-align: justify;
}

.box img {
    width: 200px;    
    height: 200px;
    border-radius: 43px;
    object-fit: cover;
    margin-left: 30px;
    box-shadow: #000 2px 2px 3px;
}

@media (max-width: 768px) {
    .box {
        flex-direction: column;
    }

    .box img {
        margin-left: 0;
        margin-top: 25px;
    }
}

.gyros-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pesto-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
}